.latest-news {
    padding: 30px $padding-side-mobile;
    background-color: $color-white;

    @include desktop {
        padding: 40px $padding-side-tablet;
    }

    &__title {
        color: $color-black;
        font-size: 32px;
        text-align: center;

        @include desktop {
            font-size: 48px;
        }
    }

    &__list {
        margin-top: 20px;

        @include desktop {
            margin-top: 30px;
        }
    }

    &__bottom {
        margin-top: 15px;
        text-align: center;

        @include desktop {
            margin-top: 30px;
        }
    }
}
