$color-black: #121212;
$color-black-two: #151515;
$color-black-three: #181818;
$color-black-four: #353535;
$color-black-five: #1C1C1C;
$color-black-six: #272727;

$color-greyish-brown: #505050;
$color-brownish-grey: #606060;
$color-warm-grey: #747474;
$color-warm-grey-two: #979797;
$color-heather: #AEAAB0;

$color-white: #F7F7F7;
$color-white-two: #E6E6E6;
$color-white-three: #DBDBDB;

$color-red: #FF0000;
$color-red-two: #DF0000;
$color-rusty-red: #CE271D;
$color-cherry: #CF092C;
$color-rouge: #B12328;
$color-orange-red: #FF5D29;
$color-yellow: #FFC300;
$color-pumpkin-orange: #F58220;
$color-desert: #D2A960;
$color-desert-two: #FDFAF6;

$color-sky-blue: #53B9FF;
$color-soft-blue: #6BACE4;
$color-peacock-blue: #005DAA;
$color-marina-blue: #002B60;
$color-dark-indigo: #1C124C;

$color-dark-blue-green: #01503E;
$color-kelley-green: #008834;

$color-facebook: #337AB7;
$color-twitter: #1E9DEC;
$color-instagram: #BC2A8D;
$color-youtube: #BB0000;
