.article-hero {
    $this: &;

    color: $color-black-three;

    &__wrap {
        padding: 20px $padding-side-mobile;

        @include desktop {
            padding: 40px 60px 30px;
        }
    }

    &__label {
        display: inline-block;
        max-width: 220px;
        margin-top: 10px;
        padding: 2px 5px;
        background-color: $color-white;
        border: 1px solid $color-white-three;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include desktop {
            margin-top: 0;
            padding: 5px 8px;
            font-size: 14px;
            letter-spacing: 1.2px;
        }
    }

    &__title {
        margin-top: 10px;
        font-size: 32px;
        letter-spacing: -0.5px;
        line-height: 1.13;

        @include tablet-only {
            padding-right: 70px;
        }

        @include desktop {
            margin-top: 16px;
            font-size: 48px;
            letter-spacing: -0.75px;
            line-height: 1.17;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 16px;

        @include desktop {
            margin-top: 24px;
        }
    }

    &__avatar {
        position: relative;
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        margin-right: 10px;

        @include desktop {
            width: 36px;
            height: 36px;
        }

        & > img {
            border-radius: 50%;
        }
    }

    &__author {
        margin-right: 15px;
        font-size: 16px;
        font-weight: 600;

        @include desktop {
            margin-right: 20px;
            font-size: 14px;
        }

        & + #{$this}__reading-time {
            padding-left: 15px;
            border-left: 1px solid $color-white-three;

            @include desktop {
                padding-left: 20px;
            }
        }
    }

    &__reading-time {
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: $color-warm-grey;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.5px;
        white-space: nowrap;

        &::after {
            content: '';
            flex-shrink: 0;
            width: 2px;
            height: 2px;
            margin-left: 10px;
            background-color: $color-warm-grey;
            border-radius: 50%;
        }
    }

    &__date {
        color: $color-warm-grey;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.5px;
        white-space: nowrap;
    }

    &__media {
        position: relative;
        height: 460px;
        background-color: $color-black-three;

        @include tablet {
            height: 580px;
        }

        &--video {
            cursor: pointer;

            &::after {
                padding-top: 56.25%;
            }

            #{$this}__play {
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                background-color: white;
                border-radius: 50%;
                color: black;
            }
        }
    }

    &__play {
        display: none;
    }
}
