.article-sign-in {
    position: relative;
    z-index: 0;
    padding: 30px $padding-side-mobile 32px;
    text-align: center;

    @include desktop {
        padding: 38px $padding-side-tablet 40px;
    }

    &__bg {
        z-index: -10;
        background-color: $color-black;
    }

    &__title {
        max-width: 610px;
        color: $color-desert;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: -0.8px;
        line-height: 1;
        text-transform: uppercase;

        @include desktop {
            font-size: 32px;
        }
    }

    &__white {
        color: white;
    }

    &__btn {
        width: 100%;
        max-width: 335px;
        min-height: 50px;
        margin-top: 26px;

        @include desktop {
            width: auto;
            min-width: 290px;
        }
    }
}
