.article-tags {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;

        @include tablet {
            padding: 0;
        }
    }

    &__item {
        padding: 0 5px 10px;
    }

    &__link {
        display: block;
        min-width: 20px;
        padding: 7px 9px;
        background-color: $color-white-two;
        color: $color-greyish-brown;
        font-size: 10px;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;

        @include tablet {
            font-size: 12px;
        }
    }
}
