.article-preview {
    padding: 0 $padding-side-mobile;

    @include tablet {
        padding: 0 $padding-side-tablet;
    }

    &__content {
        position: relative;
        margin-top: 25px;
        margin-bottom: 25px;
        white-space: pre-wrap;

        @include tablet {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background-image: linear-gradient(to bottom, rgba(white, 0), white);
        }
    }
}
