
.link {
    display: block;
    color: $color-dark-indigo;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

    & + & {
        margin-top: 15px;
    }

    &.active {
        color: $color-peacock-blue;
    }

}


