.news-feed-listing {
    overflow: hidden;
    padding: 0 $padding-side-mobile;

    @include desktop {
        padding: 0 $padding-side-tablet;
    }

    &__pattern {
        padding: 6px 0;

        @include desktop {
            padding: 17px 0;
        }

    }

    &__carousel {
        margin: 0 (-1 * $padding-side-mobile);
        padding: 6px 0;

        @include desktop {
            margin: 0 (-1 * $padding-side-tablet);
            padding: 17px 0;
        }
    }
}
