.newsCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid $color-white-two;
    color: inherit;
    text-decoration: none;
    transition: border 200ms linear;

    @include tablet {
        min-height: 420px;
    }

    .image {
        position: relative;
        overflow: hidden;
        z-index: 0;
        display: flex;
        justify-content: space-between;
        height: 190px;
        padding: 12px;
        background-color: $color-black-three;
        color: white;

        @include tablet {
            height: 225px;
            padding: 20px;
        }

        img {
            object-position: center top;
            transition: transform 200ms linear, opacity 300ms;
        }
    }

    .memberLogo {
        display: none;
    }

    .topWrap {
        display: flex;
        align-items: center;
    }

    .content {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 18px 20px;

        @include tablet {
            padding: 20px 23px 18px;
        }
    }

    .title {
        margin-top: 5px;
        font-size: 16px;
        letter-spacing: -0.5px;
        line-height: 1.25;
        word-break: break-word;

        @include tablet {
            font-size: 20px;
            line-height: 1.3;
        }
    }

    .label {
        display: block;
        padding: 0 3px;
        background-color: $color-white;
        border: 1px solid $color-white-three;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.9px;
        line-height: 1.4;
        text-transform: uppercase;

        @include tablet {
            padding: 4px 6px;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 1.2;
        }
    }

    .date {
        margin-left: auto;
        color: $color-warm-grey;
        font-size: 10px;
        font-weight: 600;
        text-align: right;

        @include tablet {
            font-size: 14px;
            line-height: 0.9;
        }

        &Bottom {
            display: none;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding: 18px 0 0;
    }

    .author {
        display: flex;
        align-items: center;

        & + .readingTime {
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid $color-white-three;

            @include tablet {
                margin-left: 12px;
                padding-left: 16px;
            }
        }
    }

    .authorName {
        font-size: 10px;
        font-weight: 600;

        @include tablet {
            font-size: 14px;
        }
    }

    .readingTime {
        color: $color-warm-grey;
        font-size: 10px;
        font-weight: 600;
        white-space: nowrap;

        @include tablet {
            font-size: 14px;
        }
    }

    .iconPlay,
    .iconPlayBig {
        display: none;
    }

    .avatar {
        position: relative;
        display: block;
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        margin-right: 6px;

        @include tablet {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        & > img {
            border-radius: 50%;
        }
    }

    &:hover {
        border: 1px solid $color-black-three;

        .image > img {
            transform: scale(1.1);
        }
    }
}
