.newsCardMember {
    border-color: $color-desert;

    .image {
        &::before {
            @include fill-parent();

            content: "";
            background-image: linear-gradient(to bottom, rgba($color-desert, 0.1), rgba($color-black-three, 0.85));
        }

        & > img {
            z-index: -20;
        }
    }

    .memberLogo {
        position: relative;
        display: block;
        align-self: flex-end;
        width: 100%;
        height: 20px;

        @include tablet {
            height: 25px;
        }

        & > img {
            object-position: right;
        }

        &Bottom {
            display: none;
        }
    }
}
