.newCardNarrow {
    position: relative;
    height: 360px;
    border: none;

    @include tablet {
        height: 440px;
    }

    .image {
        width: 100%;
        height: 100%;
        padding: 0;

        &::before {
            @include fill-parent();

            content: '';
            background-image: linear-gradient(to bottom, rgba($color-black-three, 0), rgba($color-black-three, 0.8));
        }

        & > img {
            z-index: -20;
        }
    }

    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        color: white;

        @include tablet {
            padding: 50px 60px;
        }
    }

    .title {
        margin-top: 10px;
        font-size: 24px;
        letter-spacing: -0.4px;
        line-height: 1.2;

        @include tablet {
            margin-top: 15px;
            font-size: 40px;
            letter-spacing: -0.65px;
            line-height: 1.15;
        }
    }

    .label {
        background-color: rgba($color-black-three, 0.2);
        border-radius: 2px;

        @include tablet {
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 0.85;
        }
    }

    .date {
        display: none;

        &Bottom {
            display: block;
            color: $color-white-three;

            @include tablet {
                display: none;
            }
        }
    }

    .avatar {
        @include tablet {
            width: 30px;
            height: 30px;
        }
    }

    .bottom {
        padding-top: 12px;

        @include tablet {
            padding-top: 23px;
        }
    }

    .authorName {
        @include tablet {
            font-size: 12px;
        }
    }

    .readingTime {
        margin-right: 10px;
        color: $color-white-three;

        @include tablet {
            margin-left: 14px;
            padding-left: 14px;
            color: $color-white-two;
            font-size: 12px;
        }
    }

    @include hover-focus {
        border: none;

        .image > img {
            transform: scale(1.1);
        }
    }
}
