.newsCardOneThird {
    flex-direction: row;

    @include tablet {
        flex-direction: column;
    }

    .image {
        flex-shrink: 0;
        width: 100px;
        height: auto;

        @include tablet {
            width: auto;
            height: 225px;
        }
    }

    .title {
        margin-top: 10px;
    }

    .content {
        min-height: 150px;
        padding: 15px 17px 15px;

        @include tablet {
            padding: 20px 23px 18px;

        }
    }

    .avatar {
        display: none;

        @include tablet {
            display: block;
        }
    }
}

.newsCardSmall.newsCardVideo {
    .iconPlay {
        width: 10px;
        height: 9px;

        @include tablet {
            width: 16px;
            height: 14px;
        }
    }
}
