.carousel {
    $this: &;

    &__header {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 22px;

        @include tablet {
            grid-column-gap: 15px;
            grid-template-columns: 220px auto 220px;
            display: grid;
            margin-bottom: 30px;
        }
    }

    &__partner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        color: inherit;
        font-size: 14px;
        letter-spacing: -0.2px;
        text-align: center;
        text-decoration: none;

        @include tablet {
            grid-column-start: 1;
            justify-content: flex-start;
            margin-top: 0;
            font-size: 12px;
        }
    }

    &__partner-logo {
        position: relative;
        width: 70px;
        height: 20px;
        margin-left: 5px;

        @include tablet {
            width: 100px;
            height: 35px;
            margin-left: 10px;
        }
    }

    &__heading {
        grid-column-start: 2;
    }

    &__controls {
        display: none;

        @include tablet {
            grid-column-start: 3;
            display: flex;
            flex-wrap: nowrap;
            align-self: center;
            margin-left: auto;
        }
    }

    &__slide {
        height: auto;
    }

    &__bottom {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 23px;

        @include tablet {
            grid-column-gap: 5px;
            grid-template-columns: repeat(3, 1fr);
            display: grid;
            align-items: center;
            margin-top: 50px;
            justify-items: center;
        }

        @include tablet {
            margin-top: 30px;
        }
    }

    &__button {
        position: relative;
        margin-top: 23px;

        @include tablet {
            grid-column-start: 2;
            margin-top: 0;
        }
    }

    &__dots {
        @include tablet {
            grid-column-start: 3;
            margin-left: auto
        }
    }

    &--dark {
        color: white;

        .carousel-button {
            background-color: $color-black-three;
            border-color: white;
            color: white;

            &::before {
                background-color: white;
            }

            &[disabled] {
                border-color: rgba(white, 0.2);
                color: rgba(white, 0.2);
            }

            &:hover {
                &:not([disabled]) {
                    color: $color-black-three;
                }
            }
        }

        .carousel-button:not([disabled]) + .carousel-button[disabled] {
            border-left: 1px solid white;
        }
    }
}
