.section {
    $this: &;

    position: relative;

    &__bg {
        display: none;
    }

    &--dark {
        background-color: $color-black-three;
        color: white;

        #{$this}__bg {
            background-color: $color-black-three;
        }
    }

    &--light {
        background-color: $color-white;
        color: $color-black-three;

        #{$this}__bg {
            background-color: $color-white;
        }
    }

    &--has-bg {
        z-index: -30;
        background: transparent;

        #{$this}__bg {
            display: block;
        }
    }

    &--carousel {
        position: relative;
        overflow: hidden;
        z-index: 0;
        padding: 25px 30px 30px;


        @include tablet {
            padding-top: 55px;
            padding-bottom: 60px;
        }
    }

    &--page {
        overflow: hidden;
        padding: 30px;
    }

    &--team-members {
        padding: 30px 0;

        @include desktop {
            padding: 40px 0;
        }
    }

    &--banner {
        overflow: hidden;
        padding: 0 $padding-side-mobile;

        @include tablet {
            padding: 0 $padding-side-tablet;
        }
    }

    &--player-archive {
        padding: 30px 0;

        @include desktop {
            padding: 40px $padding-side-tablet;
        }
    }
}
