.newsFeed {
    position: relative;
    padding: 20px;

    @include tablet {
        padding: 55px 40px;
    }

    .footer {
        margin-top: 25px;
        text-align: center;

        @include desktop {
            margin-top: 32px;
        }
    }
}
