.video {
    position: relative;
    max-height: 470px;
    background-color: $color-black-three;

    &::after {
        content: '';
        display: block;
        padding-top: 9 / 16 * 100 + 0%;
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        color: black;
    }
}
