//.stream-amg-player-wrapper {
//    position: relative;
//    z-index: 0;
//
//    &__title {
//        @include f-roboto();
//
//        position: absolute;
//        top: 0;
//        left: 0;
//        overflow: hidden;
//        z-index: 10;
//        width: 100%;
//        padding: 12px $default-mobile-side-padding;
//        color: $color-white;
//        font-size: 16px;
//        font-weight: 700;
//        line-height: 1.5;
//        letter-spacing: 0.1px;
//        pointer-events: none;
//
//        @include mobile-wide {
//            padding: 20px $default-tablet-side-padding;
//        }
//    }
//}
