.streamAmgPreview {
    $this: &;

    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 330px;
    background-color: black;
    border: 1px solid $color-desert;
    color: white;
    text-decoration: none;

    @include tablet {
        min-height: 400px;
    }

    .top {
        position: relative;
        height: 180px;

        @include tablet {
            height: 220px;
        }
    }

    .bg {
        z-index: -30;
        background-color: $color-black-three;
        transition: transform $transition-default;

        &::after {
            @include fill-parent();

            content: '';
            background-image: linear-gradient(to bottom, rgba($color-desert, 0.3) -1%, rgba($color-desert, 0));
        }

        img {
            object-position: center top;
        }
    }

    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        color: black;

        @include tablet {
            width: 60px;
            height: 60px;

            .icon {
                width: 24px;
                height: 23px;
            }
        }

        .icon {
            position: relative;
            left: 3px;
        }
    }

    .content {
        position: relative;
        display: flex;
        flex: 1 1;
        flex-direction: column;
        width: 100%;
        padding: 10px $padding-side-mobile 15px;
        background-color: $color-black-three;
        background-image: linear-gradient(to bottom, rgba($color-black-three, 0) 0%, $color-black-three 100%);

        @include tablet {
            padding: 15px $padding-side-tablet 25px;
        }

        &::before {
            @include fill-parent();

            content: '';
            top: -45px;
            z-index: -10;
            height: 45px;
            background-image: linear-gradient(to bottom, rgba($color-black-three, 0) 0%, $color-black-three 100%);

            @include tablet {
                top: -90px;
                height: 90px;
            }
        }
    }

    .label {
        position: absolute;
        top: -15px;
        left: 20px;
        z-index: 1;
        display: block;
        align-self: flex-start;
        padding: 0 3px;
        background-color: rgba($color-black-three, 0.3);
        border: 1px solid rgba($color-desert, 0.5);
        color: $color-desert;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include tablet {
            left: 30px;
            padding: 4px 6px;
            font-size: 12px;
            line-height: 0.85;
        }
    }

    .title {
        font-size: 24px;
        letter-spacing: -0.4px;
        line-height: 1.2;

        @include tablet {
            font-size: 28px;
            letter-spacing: -0.7px;
        }
    }

    .date {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid $color-warm-grey;
        color: $color-white-three;
        font-size: 10px;
        font-weight: 600;
        text-align: right;

        @include tablet {
            margin-left: 13px;
            padding-left: 13px;
            font-size: 14px;
        }
    }

    .bottom {
        margin-top: auto;
        padding-top: 17px;

        @include tablet {
            padding-top: 20px;
        }
    }

    .duration {
        display: inline-flex;
        align-items: center;
        font-size: 10px;
        font-weight: 600;

        @include tablet {
            font-size: 14px;
        }

        .icon {
            margin-right: 5px;

            @include tablet {
                width: 9px;
                height: 8px;
            }
        }
    }

    @include hover-focus {
        .bg {
            transform: scale(1.1);
        }
    }

    &Big {
        min-height: 415px;
        padding: 20px;

        @include tablet {
            min-height: 560px;
            padding: 45px 60px;
        }

        .top {
            @include fill-parent();

            &::after {
                @include fill-parent();

                content: '';
                top: auto;
                bottom: 0;
                z-index: 1;
                height: 50%;
                background-image: linear-gradient(to bottom, rgba($color-black-three, 0), rgba($color-black-three, 0.6) 45%, rgba($color-black-three, 0.9));

                @include tablet {
                    height: 100%;
                    background-image: radial-gradient(circle at 25% 230%, rgba($color-black-three, 0.8), rgba($color-black-three, 0.6) 54%, rgba($color-black-three, 0) 82%);
                }
            }
        }

        .play {
            top: 30%;
            z-index: 2;

            @include tablet {
                top: 33%;
                width: 68px;
                height: 68px;

                .icon {
                    width: 24px;
                    height: 27px;
                }
            }
        }

        .content {
            z-index: 1;
            display: flex;
            justify-content: flex-end;
            padding: 0;
            background-color: transparent;
            background-image: none;

            &::before {
                content: none;
            }
        }

        .label {
            position: relative;
            top: 0;
            left: 0;
            padding: 1px 5px;
            font-size: 12px;

            @include tablet {
                padding: 6px 8px;
                font-size: 14px;
            }
        }

        .title {
            max-width: 800px;
            margin-top: 5px;
            font-size: 28px;

            @include tablet {
                margin-top: 10px;
                font-size: 48px;
                letter-spacing: -0.75px;
                line-height: 1.2;
            }
        }

        .bottom {
            margin-top: 13px;
            padding-top: 0;

            @include tablet {
                margin-top: 20px;
            }
        }

        .date {
            margin-left: 16px;
            padding-left: 16px;
        }
    }

    &Big.streamAmgPreviewNoTitle {
        .play {
            top: 50%;
        }

        .content {
            display: none;
        }
    }

    &Article {
        min-height: 300px;

        .title {
            margin-top: auto;
        }

        .top {
            height: 240px;

            @include tablet {
                height: 320px;
            }
        }
    }

    &Article.streamAmgPreviewNoTitle {
        min-height: auto;

        &::before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }

        .top {
            @include fill-parent();
        }

        .content {
            display: none;
        }
    }

    &IsHidden {
        position: relative;
        visibility: hidden;
        z-index: -100;

        &::before {
            content: none;
        }
    }

    &IsHidden.streamAmgPreviewNoTitle {
        position: absolute;
    }
}
