.quote {

    $this: &;

    position: relative;
    padding-right: 50px;
    padding-left: 40px;
    border-left: 10px solid $color-desert;

    @include desktop {
        padding-right: 0;
        padding-left: 40px;
    }

    &__text {
        margin: 0;
        color: $color-black-three;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.5px;
        line-height: 1.35;

        @include desktop {
            font-size: 32px;
            line-height: 1.25;
        }
    }

    &__bottom {
        margin-top: 12px;

        @include desktop {
            margin-top: 20px;
        }
    }

    &__author {
        color: $color-desert;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.25px;
        line-height: 0.86;
        text-align: right;
        text-transform: uppercase;

        @include desktop {
            font-size: 16px;
            letter-spacing: -0.3px;
            line-height: 0.75;
        }
    }

    &__title {
        opacity: 0.4;
        margin-top: 5px;
        color: $color-black-three;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        text-align: right;
        text-transform: uppercase;

        @include desktop {
            margin-top: 7px;
            font-size: 14px;
            line-height: 0.86;
        }
    }
}
