.glide {
    $this: &;

    &--base {
        #{$this}__track,
        #{$this}__slides {
            overflow: visible;
        }

        #{$this}__slide {
            opacity: 0.4;
            transition: opacity $transition-default;

            &.is-active {
                opacity: 1;
            }
        }
    }
}
