<div
    class="stream-amg-preview stream-amg-preview--flexible interactive">
    <div class="stream-amg-preview__bg fill-parent of-cover">
        <img
            class="lazyload"
            alt=""
            data-srcset={{thumbnailSrc}}
            data-sizes="auto"
        />
    </div>
    <div class="stream-amg-preview__content-type-video">
        <div class="content-type-video">
            <svg class="content-type-video__icon icon" width="20px" height="20px"
                focusable="false">
                <use xlink:href="#icon-play"></use>
            </svg>
        </div>
    </div>
    <div class="stream-amg-preview__container fill-parent">
        <div class="stream-amg-preview__content">
            <div class="stream-amg-preview__title">{{title}}</div>
        </div>
    </div>
</div>
