.grid {
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.side {
    grid-column-end: span 12;

    @include desktop {
        grid-column-end: span 4;
    }
}

.main {
    grid-column-end: span 12;

    @include desktop {
        grid-column-end: span 8;
        padding-left: 40px;
        border-left: 1px solid $color-warm-grey;
    }

}
