.block-spinner {
    $this: &;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $layer-block-spinner;

    &::after {
        content: '';
        position: sticky;
        top: calc(50% - 60px / 2);
        left: calc(50% - 60px / 2);
        z-index: ($layer-block-spinner + 1);
        display: block;
        width: 60px;
        height: 60px;
        margin: 30px;
        border: 4px solid $color-black-three;
        border-top-color: transparent;
        border-radius: 50%;
        animation: page-spinner 0.6s linear infinite;
    }

    &--light {
        &::after {
            border-color: white;
            border-top-color: transparent;
        }
    }

    &.has-overlay {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($color-white, 0.4);
        }
    }

    &.has-overlay#{$this}--light {
        &::before {
            background-color: rgba($color-black-three, 0.4);
        }
    }
}

@keyframes page-spinner {
    to {
        transform: rotate(360deg);
    }
}
