.header {
    padding: 30px 30px;
    background-color: $color-dark-indigo;
    color: white;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.navLink {
    margin-right: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.loggedOutWrap {
    display: flex;
}
