.richtext {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    table,
    iframe {
        margin: 1.4rem 0;
        padding: 0;
        font-style: normal;

        @include tablet {
            margin: 1.8rem 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }


    }

    h1, h2 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.3px;
        line-height: 1.3;

        @include tablet {
            font-size: 28px;
        }
    }

    h3, h4, h5, h6 {
        font-size: 20px;
        letter-spacing: -0.3px;
        line-height: 1.3;
        text-transform: uppercase;

        @include tablet {
            font-size: 24px;
        }
    }

    p {
        color: black;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 1.5;
        word-break: break-word;

        @include tablet {
            font-size: 18px;
            line-height: 1.67;
        }
    }

    a {
        color: $color-black-three;
        font-weight: 500;
    }

    img {
        vertical-align: top;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    ul {
        margin-left: 20px;
        list-style-type: square;

        li {
            padding-left: 18px;
        }

        li + li {
            margin-top: 12px;
        }
    }

    ol {
        list-style: none;
        counter-reset: list;

        li {
            display: flex;
            counter-increment: list;

            &::before {
                content: counter(list) '.';
                display: block;
                margin-right: 20px;
                color: black;
                font-size: 16px;
                font-weight: 700;
                text-align: center;

                @include tablet {
                    font-size: 18px;
                }
            }
        }

        li + li {
            margin-top: 12px;

            @include tablet {
                margin-top: 18px;
            }
        }
    }

    li {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.22px;
        line-height: 1.67;

        @include tablet {
            font-size: 18px;
        }
    }
}
